.cover__link {
    margin: auto;
    max-width: 560px;
    color: #fff;
    text-decoration: none;
    z-index: 3;
    opacity: 1;
    transition: opacity linear .2s;
}

.cover__link:hover {
    opacity: .8;
}

@media (min-width: 320px) and (max-width: 767px) {
    .cover__link {
        max-width: 288px;
    }
}