.cover__link {
    color: #fff;
    text-decoration: none;
    z-index: 3;
    opacity: 1;
    transition: opacity linear .2s;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}