.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 48px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: 0 24px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        flex-direction: column;
        gap: 48px;
        padding: 0 16px;
    }
}